body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;

}

#content {
    display: flex;
    flex-direction: row;
}

#container {
    margin-left: 12rem;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
    border: 0;
    width: 20rem;
    max-width: 40rem;
    align-content: flex-end;

}

#pageTitle {
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 3rem;
}

#pageDivider {
    color: #45475a;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #181825;
    box-shadow: 3px 0px rgba(49, 50, 68, 0.064);
    height: 100vh;
    max-height: 100%;
    width: 15rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

#newTaskBtn {
    background-color: #181825;
    color:#fab387;
    font-weight: bolder;
    font-size: 1.1rem;
    border: 1px solid #fab387;
    width: 95%;
    height: 4rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.1rem;
}

#newTaskBtn:hover {
    background-color: #fab387;
    color: #181825;
}

.sidebarBtn {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: #b4befe;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #181825;
    border: 0px;
    height: 3rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
}

.sidebarBtn:hover {
    background-color: #303142;
    color: #fab387;
    font-weight: bolder;
}

#sideCatLabel {
    color: #fab387;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-left: -1rem;
    margin-top: 3rem;
}

#sideCatList {
    margin-top: -0.7rem;
    margin-left: 2.6rem;
}

#sideCatList ::marker {
    content: "# ";
}

#sideCatList > li {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #9399b2;
}

#sideCatList > li:hover {
    color: #cdd6f4;
    font-weight: bold;
}

#createCatBtn {
    margin-top: 0.5rem;
    color:#7f849c;
    background-color: #181926;
    border: 0px;
}

#createCatBtn:hover {
    color: #fab387;
}

#list {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0.1rem;
    border: 0px;
    border-radius: 5px;
}

#newTaskContainer {
    display: block;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0rem;
    margin-top: 1rem;
}

#newTaskForm {
    overflow:auto;
    padding: 0.1rem;
    display: grid;
    grid-template-rows: 4, 1fr;
    grid-template-columns: 2, 1fr;
    gap: 0.2rem;
}

.newTaskLabel {
    display: inline;
}

.newTaskInput {
    background-color: #363a4f;
    color: #a5adcb;
    border: 0 #1e1e2e;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-column-start: 1;
    grid-column-end: 1;
    outline: none;

}

.newTaskInput:focus {
    border: 0px;
    color:#cad3f5;
    background-color: #5b6078;
    outline: none;
}

.newTaskInput:focus::placeholder {
    color: #b8c0e0;

}

#newTaskNameInput {
    height: 3rem;
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
}

.newTaskLabel {
    display: none;
}



.addTaskBtn {
    color: #1e1e2e;
    background-color: #fab387;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.addTaskBtn:hover {
    background-color: #f7bb96;
}

.taskContainer {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    background-color: #45475a;
    box-shadow: 3px 3px #11111b;
    padding-left: 2%;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0px;
    border-radius: 5px;
    width: 100;
}

.taskContainer:hover > .taskComplete {
    background-color: #f38ba8;
    color: #11111b;
}

.taskContainer:hover {
    background-color: #585b70;
}

.taskContainer:hover * {
    color: #c6d0f5;
}

.taskName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.3rem;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    text-align: left;
    color: #7f849c;
    text-transform: uppercase;
}

.taskCategory {
    font-size: 0.8rem;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    text-align: left;
    color: #7f849c;
}

.taskDate {
    font-size: 0.8rem;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    text-align: left;
    margin-bottom: 0.3rem;
    color: #7f849c;
}

.taskComplete {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 5px;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 4rem;
    background-color: #313244;
    color: #414559;
    font-size: 2rem;
    font-weight: bolder;
    justify-self: right;
}